<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy <a href="https://tony-devcamp-portfolio.herokuapp.com">Bhadresh Patel</a> 2019 <br/>
    </small>
  </footer>
</div>
